{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
<form method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <div>
        <input type="submit" value="Login">
    </div>
</form>
<a href="{{ url_for('forgot_password') }}">Forgot Password?</a>
<script src="static\js\script.js"></script>
{% endblock %}
