{% extends 'base.html' %}
{% block content %}
<h1>Register</h1>
<form method="POST">
    <div>
        <label for="username">Username</label>
        <input type="text" name="username" id="username" value="{{ request.form.get('username', '') }}" required>
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" value="{{ request.form.get('email', '') }}" required>
    </div>
    <div>
        <label for="phone_number">Phone Number</label>
        <input type="tel" name="phone_number" id="phone_number" value="{{ request.form.get('phone_number', '') }}" required>
    </div>
    
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" value="{{ request.form.get('password', '') }}" required>
    </div>

    {% if otp_sent %}
    <div>
        <label for="otp">Enter OTP</label>
        <input type="text" name="otp" id="otp" required>
    </div>
    {% endif %}

    <div>
        <input type="submit" name="action" value="Send OTP">
        {% if otp_sent %}
        <input type="submit" name="action" value="Verify OTP">
        {% endif %}
    </div>
</form>
<script src="static\js\script.js"></script>
{% endblock %}


