<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
     <!-- Loading Animation -->
     <div id="loading">
        <div class="cube">
            <div class="side front"></div>
            <div class="side back"></div>
            <div class="side left"></div>
            <div class="side right"></div>
            <div class="side top"></div>
            <div class="side bottom"></div>
        </div>
    </div>
    <h1>{{ title }}</h1>

    <!-- Table showing matches -->
    <table>
        <thead>
            <tr>
                <th>Match Name</th>
                <th>Date</th>
                <th>Type</th>
            </tr>
        </thead>
        <tbody>
            {% for match in matches %}
            <tr>
                <td>{{ match.title }}</td>
                <td>{{ match.date }}</td>
                <td>{{ match.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="static\js\script.js"></script>
</body>
</html>

